@import '../uni.scss';

* {
    font-family: 'Source Han Sans CN';
}

.app-top-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 364px;
    background: linear-gradient(180deg, #A1F5E2 0%, #EAF6F5 100%);
    border-radius: 0px 0px 0px 50px;
    z-index: -1;
    &.home {
        height: 460px;
    }
}

.app-container {
    padding: 30px;
    position: relative;
}
.text-primary {
    color: $uni-color-primary;
}
.text-error {
    color: $uni-color-error;
}
.text-warning {
    color: $uni-color-warning;
}
.text-success {
    color: $uni-color-success;
}
.page-title {
    font-size: 36px;
    font-family: 'Source Han Sans CN';
    font-weight: bold;
    color: #0B6749;
    margin-top: 67px;
}
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    // display: block;
    // width: 100%;
}
.price-code {
    line-height: 36px;
    font-size: 34px;
    font-weight: bold;
    color: #17AA7D;
}
.price {
    font-size: 46px;
    font-weight: bold;
    color: #17AA7D;
    line-height: 53px;
}
.price-from {
    font-size: 20px;
    font-weight: 500;
    color: #17AA7D;
    line-height: 28px;
}
.ml-5 {
    margin-left: 5px;
}

.flex-box {
    display: flex;
    align-items: center;
    &.space-between {
        justify-content: space-between;
    }
    &.center {
        justify-content: center;
    }
}
.p-h-20 {
    padding: 0 20px;
}
.p-v-20 {
    padding: 20px 0;
}
navigator {
    display: inline-block !important;
    width: 100%;
}
.navigator-hover-class {
    background: transparent;
    color: $uni-color-primary;
}
.scroll {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

$grid-gap: 40px;

.wf-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $grid-gap;
}

.wf-item {
    width: 326px;
}